In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
user_data=pd.read_csv(r'C:\Users\hp\Desktop\users.csv')
post_data=pd.read_csv(r'C:\Users\hp\Desktop\posts.csv',sep=r'\s*,\s*')
views_data=pd.read_csv(r'C:\Users\hp\Desktop\views.csv')

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [3]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 4 columns):
_id          118 non-null object
name         118 non-null object
gender       118 non-null object
academics    118 non-null object
dtypes: object(4)
memory usage: 3.8+ KB

In [4]:
post_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 4 columns):
_id          493 non-null object
title        493 non-null object
category     465 non-null object
post_type    493 non-null object
dtypes: object(4)
memory usage: 15.5+ KB

In [5]:
views_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 3 columns):
user_id      1449 non-null object
post_id      1449 non-null object
timestamp    1449 non-null object
dtypes: object(3)
memory usage: 34.0+ KB

In [6]:
user_data.head()

                        _id                  name gender      academics
0  5d60098a653a331687083238  Nivesh Singh Chauhan   male  undergraduate
1  5d610ae1653a331687083239         Gaurav Sharma   male       graduate
2  5d618359fc5fcf3bdd9a0910         Akshay Mishra   male  undergraduate
3  5d6d2bb87fa40e1417a49315        Saksham Mathur   male  undergraduate
4  5d7c994d5720533e15c3b1e9         Varun Chowhan   male  undergraduate

In [7]:
views_data.head(2)

,user_id,post_id,timestamp
0,5df49b32cc709107827fb3c7,5ec821ddec493f4a2655889e,2020-06-01T10:46:45.131Z
1,5ed3748576027d35905ccaab,5ed4cbadbd514d602c1531a6,2020-06-01T09:39:20.021Z

In [8]:
post_data.head(5)

,_id,title,category,post_type
0,5d62abaa65218653a132c956,hello there,Plant Biotechnology,blog
1,5d6d39567fa40e1417a4931c,Ml and AI,Artificial Intelligence|Machine Learning|Infor...,blog
2,5d7d23315720533e15c3b1ee,What is an Operating System ?,Operating Systems,blog
3,5d7d405e5720533e15c3b1f3,Lord Shiva,Drawings,artwork
4,5d80dfbc6c53455f896e600e,How Competition law evolved?,Competition Laws,blog

In [9]:
post_data.category=post_data.category.str[0:-1].str.split('|')

In [10]:
post_data.head(2)

,_id,title,category,post_type
0,5d62abaa65218653a132c956,hello there,[Plant Biotechnolog],blog
1,5d6d39567fa40e1417a4931c,Ml and AI,"[Artificial Intelligence, Machine Learning, In...",blog

In [11]:
post_data.dtypes

_id          object
title        object
category     object
post_type    object
dtype: object

In [12]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [13]:
features=['category','post_type','title']
for feature in features:
    post_data[feature]=post_data[feature].apply(clean_data)

In [14]:
post_data.head(1)

                        _id       title             category post_type
0  5d62abaa65218653a132c956  hellothere  [plantbiotechnolog]      blog

In [15]:
def create_soup(x):
    return ''.join(x['title'])+' '+' '.join(x['category'])+' '+''.join(x['post_type'])

In [16]:
post_data['soup']=post_data.apply(create_soup,axis=1)

In [17]:
post_data.soup.head(2)

0                    hellothere plantbiotechnolog blog
1    mlandai artificialintelligence machinelearning...
Name: soup, dtype: object

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(post_data['soup'])

In [19]:
count_matrix.shape

(493, 837)

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [21]:
post_data = post_data.reset_index()
indices = pd.Series(post_data.index, index=post_data['_id'])

In [22]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the post that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all posts with that post
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the posts based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 1 most similar posts
    sim_scores = sim_scores[1:2]

    # Get the mpost indices
    post_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar post
    return post_data['_id'].iloc[post_indices]

In [23]:
post_index=input('input post index for which similar post to be recommended')
post=post_data['_id'][int(post_index)]
get_recommendations(post, cosine_sim)

input post index for which similar post to be recommended5

4    5d80dfbc6c53455f896e600e
Name: _id, dtype: object

In [24]:
#Recommend post for given user

In [55]:
views_data.sort_values(by=['user_id','timestamp'],ascending=[True,True],inplace=True)

In [56]:
#pd.value_counts(views_data.user_id)
views_data.head(2)

,user_id,post_id,timestamp
0,5d60098a653a331687083238,5e1029f22a37d20505da2a79,2020-03-26T18:25:45.637Z
1,5d60098a653a331687083238,5e7cc074cfc8b713f5ac7db0,2020-03-26T18:49:14.721Z

In [57]:
views_data=views_data.set_index(np.arange(len(views_data.index)))
views_data.head()

,user_id,post_id,timestamp
0,5d60098a653a331687083238,5e1029f22a37d20505da2a79,2020-03-26T18:25:45.637Z
1,5d60098a653a331687083238,5e7cc074cfc8b713f5ac7db0,2020-03-26T18:49:14.721Z
2,5d60098a653a331687083238,5e7b1e65cfc8b713f5ac7d90,2020-03-26T19:00:25.693Z
3,5d60098a653a331687083238,5e7a629ccfc8b713f5ac7d84,2020-03-26T19:01:42.384Z
4,5d60098a653a331687083238,5e7a60edcfc8b713f5ac7d82,2020-03-26T19:03:55.284Z

In [58]:
user_data.head()

,index,_id,name,gender,academics,post,soup
0,0,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,"[5e1029f22a37d20505da2a79, 5e7cc074cfc8b713f5a...",male undergraduate 5e1029f22a37d20505da2a79 5e...
1,1,5d610ae1653a331687083239,Gaurav Sharma,male,graduate,"[5e7c78fdcfc8b713f5ac7daa, 5e7c7a44cfc8b713f5a...",male graduate 5e7c78fdcfc8b713f5ac7daa 5e7c7a4...
2,2,5d618359fc5fcf3bdd9a0910,Akshay Mishra,male,undergraduate,"[5e7e66e7a3258347b42f213c, 5e773c0bcfc8b713f5a...",male undergraduate 5e7e66e7a3258347b42f213c 5e...
3,3,5d6d2bb87fa40e1417a49315,Saksham Mathur,male,undergraduate,"[5eb2c11210426255a7aaa052, 5eabfaf510426255a7a...",male undergraduate 5eb2c11210426255a7aaa052 5e...
4,4,5d7c994d5720533e15c3b1e9,Varun Chowhan,male,undergraduate,"[5e7304761b24db0468e90ce7, 5e77c625cfc8b713f5a...",male undergraduate 5e7304761b24db0468e90ce7 5e...

In [59]:
def edit_data(x,user_data):
    j=0
    for i in range(0,x.shape[0]):
        if(j>117):
            break
        if(x['user_id'][i]==user_data['_id'][j]):
            user_data['post'][j].append(x['post_id'][i])
        if(i<1448):
            if(x['user_id'][i+1]!=x['user_id'][i]):
                j=j+1

In [60]:
user_data['post']=""
user_data['post']=user_data['post'].apply(list)

In [61]:
edit_data(views_data,user_data)

In [62]:
user_data.head(118)

,index,_id,name,gender,academics,post,soup
0,0,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,"[5e1029f22a37d20505da2a79, 5e7cc074cfc8b713f5a...",male undergraduate 5e1029f22a37d20505da2a79 5e...
1,1,5d610ae1653a331687083239,Gaurav Sharma,male,graduate,"[5e7c78fdcfc8b713f5ac7daa, 5e7c7a44cfc8b713f5a...",male graduate 5e7c78fdcfc8b713f5ac7daa 5e7c7a4...
2,2,5d618359fc5fcf3bdd9a0910,Akshay Mishra,male,undergraduate,"[5e7e66e7a3258347b42f213c, 5e773c0bcfc8b713f5a...",male undergraduate 5e7e66e7a3258347b42f213c 5e...
3,3,5d6d2bb87fa40e1417a49315,Saksham Mathur,male,undergraduate,"[5eb2c11210426255a7aaa052, 5eabfaf510426255a7a...",male undergraduate 5eb2c11210426255a7aaa052 5e...
4,4,5d7c994d5720533e15c3b1e9,Varun Chowhan,male,undergraduate,"[5e7304761b24db0468e90ce7, 5e77c625cfc8b713f5a...",male undergraduate 5e7304761b24db0468e90ce7 5e...
5,5,5d90fc1a641ef364939fb6cc,Boshi Kaviya,female,graduate,[5d9b3514979d5962253c2f90],female graduate 5d9b3514979d5962253c2f90
6,6,5d9a2982979d5962253c2f81,Nischaya Sharma,male,undergraduate,"[5e81be54a3258347b42f221d, 5e767d501b24db0468e...",male undergraduate 5e81be54a3258347b42f221d 5e...
7,7,5de50d768eab6401affbb135,thesocialcomment,male,graduate,"[5e77738bcfc8b713f5ac7b36, 5e773c89cfc8b713f5a...",male graduate 5e77738bcfc8b713f5ac7b36 5e773c8...
8,8,5ded443342a8854bf6eaba9a,MAAZ AHMAD RABBANI,male,undergraduate,[5dea816a42a8854bf6eaba89],male undergraduate 5dea816a42a8854bf6eaba89
9,9,5deeef6142a8854bf6eabab9,siddharth saxena,male,undergraduate,"[5d9b950768671220a1b2b153, 5e947c4aa3258347b42...",male undergraduate 5d9b950768671220a1b2b153 5e...
10,10,5defd51362624b0135ea9fd2,BHASKAR MISHRA,male,undergraduate,"[5e7f4fb3a3258347b42f2156, 5e7a614fcfc8b713f5a...",male undergraduate 5e7f4fb3a3258347b42f2156 5e...
11,11,5df11ee1ee4bb5252b4f5344,hritik chaturvedi,male,undergraduate,[5e91a2dda3258347b42f276d],male undergraduate 5e91a2dda3258347b42f276d
12,12,5df20f1fee4bb5252b4f5351,Aryan Malakar,male,undergraduate,"[5e52fd0ed701ab08af792a1f, 5e52f911d701ab08af7...",male undergraduate 5e52fd0ed701ab08af792a1f 5e...
13,13,5df24eeaee4bb5252b4f5366,Parvez Khan,male,undergraduate,"[5e936c67a3258347b42f27b6, 5e82390ea3258347b42...",male undergraduate 5e936c67a3258347b42f27b6 5e...
14,14,5df3f8f2ee4bb5252b4f5393,Angelina Christi,female,undergraduate,"[5df64ad1cc709107827fb3dd, 5e88383aa3258347b42...",female undergraduate 5df64ad1cc709107827fb3dd ...
15,15,5df49b32cc709107827fb3c7,Niriksha Sharma,female,undergraduate,"[5ea5aacd10426255a7aa9b71, 5ea5ce9310426255a7a...",female undergraduate 5ea5aacd10426255a7aa9b71 ...
16,16,5e0d5ce12a37d20505da2a5d,Nimish Sharma,male,undergraduate,"[5e4a3cf6f5561b1994c8e378, 5eaf8b9310426255a7a...",male undergraduate 5e4a3cf6f5561b1994c8e378 5e...
17,17,5e1ef04c2a37d20505da2b8b,Rashi Jain,female,undergraduate,"[5e7304761b24db0468e90ce7, 5e2d516fc85ab714a7d...",female undergraduate 5e7304761b24db0468e90ce7 ...
18,18,5e26bb482a37d20505da2c10,Nachiket Khatri,male,undergraduate,"[5e2867f6025ae20886de205a, 5e2f1811c85ab714a7d...",male undergraduate 5e2867f6025ae20886de205a 5e...
19,19,5e3563348d344822fed4d13a,Ojasvi Arya,male,undergraduate,"[5eba2e94514aab59896bcc5a, 5eba2dd3514aab59896...",male undergraduate 5eba2e94514aab59896bcc5a 5e...
20,20,5e35a5ed8d344822fed4d13e,Sneha Shekhawat,female,graduate,"[5eba2e94514aab59896bcc5a, 5eba2dd3514aab59896...",female graduate 5eba2e94514aab59896bcc5a 5eba2...
21,21,5e365e758d344822fed4d144,Nikhil Sharma,male,graduate,"[5e36e7baeab55d319938a6d1, 5e41bd7deab55d31993...",male graduate 5e36e7baeab55d319938a6d1 5e41bd7...
22,22,5e37b16ceab55d319938a6f8,Utkarsh Saini,male,graduate,"[5ec1fd0974f7660d73aa0fd5, 5eca7601ec493f4a265...",male graduate 5ec1fd0974f7660d73aa0fd5 5eca760...
23,23,5e4195c3eab55d319938a82c,Arunav Moitra,male,graduate,"[5eb1ac4510426255a7aaa024, 5ea5ce9310426255a7a...",male graduate 5eb1ac4510426255a7aaa024 5ea5ce9...
24,24,5e4ce251f5561b1994c8e40d,Tarini Prasad Ray,male,graduate,[5ea7cd9610426255a7aa9bd2],male graduate 5ea7cd9610426255a7aa9bd2
25,25,5e5855ced701ab08af792b51,Isis Amador,female,undergraduate,[5e7bd922cfc8b713f5ac7da9],female undergraduate 5e7bd922cfc8b713f5ac7da9
26,26,5e5af599d701ab08af792b63,Ilupeju Ayokunnumi,female,graduate,"[5e7e66e7a3258347b42f213c, 5e8164f9a3258347b42...",female graduate 5e7e66e7a3258347b42f213c 5e816...
27,27,5e5b4511d701ab08af792b6d,Aanjan Prasath G,male,undergraduate,"[5e8309a9a3258347b42f23f2, 5e830a6ca3258347b42...",male undergraduate 5e8309a9a3258347b42f23f2 5e...
28,28,5e5dfbbefbc8805f69e02c91,Prakasika.m.p,female,undergraduate,"[5e8307ada3258347b42f23ec, 5e8308c4a3258347b42...",female undergraduate 5e8307ada3258347b42f23ec ...
29,29,5e783375cfc8b713f5ac7c5b,Bhargav Prakash,male,undergraduate,"[5e787636cfc8b713f5ac7cbe, 5e7f39a3a3258347b42...",male undergraduate 5e787636cfc8b713f5ac7cbe 5e...
...,...,...,...,...,...,...,...
88,88,5ecd5a5c7023451e662235c1,Kshitij Alawandi,male,graduate,[5e77738bcfc8b713f5ac7b36],male graduate 5e77738bcfc8b713f5ac7b36
89,89,5ecdf7397023451e66223784,Deepak Kumar,male,undergraduate,"[5ecd5d417023451e662235c5, 5ecf96e876027d35905...",male undergraduate 5ecd5d417023451e662235c5 5e...
90,90,5ece02427023451e66223861,Sahana B,female,undergraduate,"[5ed1ff0276027d35905cc60d, 5ed09ad076027d35905...",female undergraduate 5ed1ff0276027d35905cc60d ...
91,91,5ecf6e6576027d35905cbeec,ashish,male,graduate,"[5e5b6320d701ab08af792b9d, 5e1029f22a37d20505d...",male graduate 5e5b6320d701ab08af792b9d 5e1029f...
92,92,5ecfa94676027d35905cbf78,Dipak Jadhav,male,graduate,[5ebd1111514aab59896bcd1c],male graduate 5ebd1111514aab59896bcd1c
93,93,5ecfaa0076027d35905cbf83,Shailja Tripathi,female,graduate,[5ed141aa76027d35905cc4c9],female graduate 5ed141aa76027d35905cc4c9
94,94,5ecfbcb376027d35905cbfe5,Gouranga Jena,male,graduate,[5ecd5d417023451e662235c5],male graduate 5ecd5d417023451e662235c5
95,95,5ecfdaa976027d35905cc02c,Shreya maji,female,undergraduate,"[5ecfafcc76027d35905cbfb0, 5eca7601ec493f4a265...",female undergraduate 5ecfafcc76027d35905cbfb0 ...
96,96,5ed09e8576027d35905cc164,Ankush Chavan,male,undergraduate,[5ecf818376027d35905cbf03],male undergraduate 5ecf818376027d35905cbf03
97,97,5ed0bfc176027d35905cc1f8,Harbind Singh,male,undergraduate,"[5ed09ad076027d35905cc15f, 5ecd5d417023451e662...",male undergraduate 5ed09ad076027d35905cc15f 5e...
98,98,5ed0cfc676027d35905cc26a,Harishankar Dubey,male,graduate,"[5ecf96e876027d35905cbf46, 5ed1ff0276027d35905...",male graduate 5ecf96e876027d35905cbf46 5ed1ff0...
99,99,5ed0d9bc76027d35905cc2c2,Mukesh Kumar mahto,male,graduate,[5ed09ad076027d35905cc15f],male graduate 5ed09ad076027d35905cc15f
100,100,5ed0defa76027d35905cc2de,Asif Hossain,male,undergraduate,"[5ed415c6bd514d602c15312d, 5ed23d4276027d35905...",male undergraduate 5ed415c6bd514d602c15312d 5e...
101,101,5ed0dfec76027d35905cc2ec,Parth Praveen Deokar,male,graduate,"[5ed09ad076027d35905cc15f, 5ed229d976027d35905...",male graduate 5ed09ad076027d35905cc15f 5ed229d...
102,102,5ed0fc0976027d35905cc448,RAGHUNATH DHANDAPANI,male,graduate,[5ed09ad076027d35905cc15f],male graduate 5ed09ad076027d35905cc15f
103,103,5ed12ae476027d35905cc4a1,Rajesha CT,male,graduate,[5ed09ad076027d35905cc15f],male graduate 5ed09ad076027d35905cc15f
104,104,5ed13bb076027d35905cc4ba,Saumik Satapathy,male,graduate,"[5ed13d2876027d35905cc4c2, 5ed3476576027d35905...",male graduate 5ed13d2876027d35905cc4c2 5ed3476...
105,105,5ed142cd76027d35905cc4cd,Manish Nehra,male,undergraduate,[5ed141aa76027d35905cc4c9],male undergraduate 5ed141aa76027d35905cc4c9
106,106,5ed232b976027d35905cc689,Mohd Junaid Mansuri,male,graduate,"[5ecd5d417023451e662235c5, 5ed09ad076027d35905...",male graduate 5ecd5d417023451e662235c5 5ed09ad...
107,107,5ed237ee76027d35905cc6c5,Mukesh,male,graduate,"[5eab962e10426255a7aa9cb8, 5ea7cd9610426255a7a...",male graduate 5eab962e10426255a7aa9cb8 5ea7cd9...
108,108,5ed2399b76027d35905cc70f,Neha,female,graduate,"[5eab962e10426255a7aa9cb8, 5ea7cd9610426255a7a...",female graduate 5eab962e10426255a7aa9cb8 5ea7c...
109,109,5ed24d5a76027d35905cc7d7,Saumya Singh,female,undergraduate,"[5ed2502b76027d35905cc7db, 5ed09ad076027d35905...",female undergraduate 5ed2502b76027d35905cc7db ...
110,110,5ed2672576027d35905cc7f6,Arman Lalani,male,undergraduate,"[5ed23cb876027d35905cc788, 5ed2383776027d35905...",male undergraduate 5ed23cb876027d35905cc788 5e...
111,111,5ed2edf176027d35905cc961,BOBIL SINGH,male,graduate,"[5ed1ff0276027d35905cc60d, 5ecf96e876027d35905...",male graduate 5ed1ff0276027d35905cc60d 5ecf96e...
112,112,5ed350ed76027d35905cca2c,RUSHIKESH CHAUDHARI,male,undergraduate,"[5ed1ff0276027d35905cc60d, 5ed2502b76027d35905...",male undergraduate 5ed1ff0276027d35905cc60d 5e...
113,113,5ed35aa376027d35905cca67,Steve,male,graduate,"[5ed23cb876027d35905cc788, 5ed2502b76027d35905...",male graduate 5ed23cb876027d35905cc788 5ed2502...
114,114,5ed3737976027d35905ccaa2,Himanshu Singh,male,undergraduate,[5ed1ff0276027d35905cc60d],male undergraduate 5ed1ff0276027d35905cc60d
115,115,5ed3748576027d35905ccaab,Parth Vijay,male,undergraduate,"[5ed3791976027d35905ccab6, 5ed3820f76027d35905...",male undergraduate 5ed3791976027d35905ccab6 5e...
116,116,5ed3cbcbbd514d602c1530a7,Abhishek Mishra,male,undergraduate,[5ed1ff0276027d35905cc60d],male undergraduate 5ed1ff0276027d35905cc60d
117,117,5ed3e898bd514d602c1530de,gauri raskar,female,graduate,[5ecf818376027d35905cbf03],female graduate 5ecf818376027d35905cbf03

In [63]:
features=['gender','academics','post']
for feature in features:
    user_data[feature]=user_data[feature].apply(clean_data)

In [64]:
user_data.head(2)

,index,_id,name,gender,academics,post,soup
0,0,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,"[5e1029f22a37d20505da2a79, 5e7cc074cfc8b713f5a...",male undergraduate 5e1029f22a37d20505da2a79 5e...
1,1,5d610ae1653a331687083239,Gaurav Sharma,male,graduate,"[5e7c78fdcfc8b713f5ac7daa, 5e7c7a44cfc8b713f5a...",male graduate 5e7c78fdcfc8b713f5ac7daa 5e7c7a4...

In [65]:
def create_soup2(x):
    return ''.join(x['gender'])+' '+''.join(x['academics'])+' '+' '.join(x['post'])

In [66]:
user_data['soup']=user_data.apply(create_soup2,axis=1)

In [67]:
user_data.head(3)

,index,_id,name,gender,academics,post,soup
0,0,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,"[5e1029f22a37d20505da2a79, 5e7cc074cfc8b713f5a...",male undergraduate 5e1029f22a37d20505da2a79 5e...
1,1,5d610ae1653a331687083239,Gaurav Sharma,male,graduate,"[5e7c78fdcfc8b713f5ac7daa, 5e7c7a44cfc8b713f5a...",male graduate 5e7c78fdcfc8b713f5ac7daa 5e7c7a4...
2,2,5d618359fc5fcf3bdd9a0910,Akshay Mishra,male,undergraduate,"[5e7e66e7a3258347b42f213c, 5e773c0bcfc8b713f5a...",male undergraduate 5e7e66e7a3258347b42f213c 5e...

In [68]:
count2 = CountVectorizer(stop_words='english')
count_matrix2 = count2.fit_transform(user_data['soup'])

In [69]:
cosine_sim2 = cosine_similarity(count_matrix2, count_matrix2)

In [70]:
user_data = user_data.reset_index()
indices = pd.Series(user_data.index, index=user_data['_id'])

In [71]:
def get_sim_user(title, cosine_sim):
    # Get the index of the post that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that post
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the posts based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 1 most similar movies
    sim_scores = sim_scores[1:2]

    # Get the movie indices
    user_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return user_indices[0]

In [72]:
user_index=input("input user index for which post has to be recommneded")
user_id=user_data['_id'][int(user_index)]
sim_index=get_sim_user(user_id, cosine_sim2)

input user index for which post has to be recommneded15

In [73]:
print(sim_index)

85

In [74]:
print(user_index)

15

In [75]:
dif_post = [x for x in user_data['post'][sim_index] if x not in user_data['post'][int(user_index)]]
len(dif_post)

19

In [76]:
indices = pd.Series(post_data.index, index=post_data['_id'])

In [77]:
dif_post_index=[]
for i in dif_post:
    dif_post_index.append(indices[i])

In [78]:
def get_recommendation(title, cosine_sim=cosine_sim,dif_post_index=dif_post_index):
    # Get the index of the post that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that post
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the posts based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 1 most similar movies
    sim_scores = sim_scores[1:100]
    post_indices = [i[0] for i in sim_scores]
    for i in post_indices:
        if i in dif_post_index:
            return i
    

    # Get the movie indices
    sim_scores=sim_scores[1:2]
    post_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return post_data['_id'].iloc[post_indices]

In [79]:

l=len(user_data['post'][int(user_index)])
post_last=user_data['post'][int(user_index)][l-1]
print(str(post_last))

5ec821ddec493f4a2655889e

In [80]:
user_data.head(1)

,level_0,index,_id,name,gender,academics,post,soup
0,0,0,5d60098a653a331687083238,Nivesh Singh Chauhan,male,undergraduate,"[5e1029f22a37d20505da2a79, 5e7cc074cfc8b713f5a...",male undergraduate 5e1029f22a37d20505da2a79 5e...

In [81]:
get_recommendation(str(post_last),cosine_sim,dif_post)

121    5e5bb3eed701ab08af792bfa
Name: _id, dtype: object